@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik/rubik-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/rubik/rubik-700.woff2') format('woff2');
  font-display: swap;
}

/* Raleway */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/raleway/raleway-800.woff2') format('woff2');
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

:root {
  /* цвета */
  --black: #000000;
  --dark-gray: rgb(68, 68, 68);
  --gray-border: #dcdcdc;
  --gray: #ebebeb;
  --light-gray: #f0f0f0;
  --yellow: rgb(255, 225, 127);
  --dark-yellow: #ffcc33;
  --white: #ffffff;
  --purple: #af4fff;
  /* цветовые схемы */
  --title-color: var(--black);
  --text-color: var(--dark-gray);
  --accent-color: var(--yellow);
  /* шрифты */
  --main-font: "Rubik";
  --second-font: "Raleway";
  /* outline */
  --outline-style: 2px solid var(--purple);
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-color);
  background-color: var(--white);
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.button {
  display: inline-block;
  padding: 10px 5px;
  font-family: var(--second-font), sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: var(--title-color);
  text-decoration: none;
  cursor: pointer;
}

.button-decorated {
  border: none;
  background:  linear-gradient( rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 16px, var(--accent-color) 16px, var(--accent-color) 24px, rgba(255,255,255, 0) 24px, rgba(255,255,255, 0) 40px);
  transition-property: background-color;
  transition-duration: 500ms;
}

.button-decorated:hover {
  background: none;
  background-color: var(--accent-color);
}

.button-decorated:active {
  background-color: var(--dark-yellow);
}

.button-decorated:focus {
  outline: var(--outline-style);
}

/* header */
.header {
  padding-top: 40px;
  color: var(--title-color);
}

.header-container {
  padding: 0 60px;
  padding-top: 43px;
  background-color: var(--accent-color);
  position: relative;
}

.header-inner {
  display: flex;
  align-items: center;
  min-height: 40px;
  margin-bottom: 30px;
}

.logo {
  transition-property: opacity;
  transition-duration: 400ms;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.logo:focus {
  outline: var(--outline-style);
}

.logo img {
  width: 145px;
  height: 36px;
}

.header-logo {
  display: inline-block;
  width: auto;
  margin-left: 60px;
  position: absolute;
  top: -23px;
  left: 0;
}

.header-search {
  width: 517px;
  display: flex;
  position: relative;
}

.header-search-field {
  flex-grow: 1;
  padding: 8px;
  padding-left: 48px;
  border: 2px solid var(--title-color);
  font-family: var(--main-font), sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
}

.header-search-field::placeholder {
  color: var(--title-color); 
  opacity: 0.3;
}

.header-search-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--black);
}

.header-search-btn {
  width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: var(--main-font), sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: 2px solid var(--title-color);
  border-left: none;
  background-color: transparent;
  cursor: pointer;
  transition-property: color background-color;
  transition-duration: 0.5s;
}

.header-search-btn:hover {
  color: var(--white);
  background-color: var(--title-color);
}

.header-search-btn:active {
  color: var(--dark-gray);
  background-color: var(--title-color);
}

.header-search-field:focus,
.header-search-btn:focus {
  outline: var(--outline-style);
  outline-offset: 2px;
}

/* user navigation */
.header-usermenu {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-usermenu-item {
  margin-left: 26px;
}

.header-usermenu-item:first-child {
  margin-right: auto;
}

.header-usermenu-link {
  display: block;
  padding: 5px 0;
  padding-left: 26px;
  color: inherit;
  text-decoration: none;
  transition-property: opacity;
  transition-duration: 0.3s;
  position: relative;
}

.header-usermenu-link-logout {
  padding-left: 0;
  color: inherit;
  opacity: 0.3;
}

.header-usermenu-link:hover {
  opacity: 0.6;
}

.header-usermenu-link:active {
  opacity: 0.3;
}

.header-usermenu-link:focus {
  outline: var(--outline-style);
}

.header-usermenu-icon {
  fill: var(--black);
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
}

.header-usermenu-cart {
  fill: var(--black);
  position: absolute;
  top: 11px;
  left: 0;
}

.header-usermenu-count {
  display: none;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

/* site navigation */
.header-navigation-page {
  padding-bottom: 20px;
}

.header-navigation-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-navigation-item {
  margin-right: 47px;
}

.header-navigation-show {
  margin-right: auto;
  padding-right: 70px;
  background: url('../images/icons/show.svg') right center no-repeat;
  background-size: contain;
  cursor: pointer;
  position: relative;
}

.header-navigation-show::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 2px;
  top: 24px;
  right: 16px;
  background-color: var(--title-color);
  opacity: 0.3;
  transform: rotate(90deg);
  transition-property: transform;
  transition-duration: .5s;
}

.header-navigation-show:hover.header-navigation-show::after {
  transform: rotate(180deg);
}

.header-navigation-item:last-child {
  margin-right: 0;
}

.header-navigation-link {
  display: block;
  padding: 14px 0;
  font-family: var(--second-font), sans-serif;
  color: var(--title-color);
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  transition-property: opacity;
  transition-duration: 300ms;
  position: relative;
}

.header-navigation-link::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 10px;
  background-color: var(--title-color);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 400ms;
}

.header-navigation-link:hover {
  opacity: 0.6;
}

.header-navigation-link:hover.header-navigation-link::after {
  opacity: 0.8;
}

.header-navigation-link:active {
  opacity: 0.3;
}

.header-navigation-link:active.header-navigation-link::after {
  opacity: 0.5;
}

/* .header-navigation-link:focus {
  outline: var(--outline-style);
} */

.header-submenu-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--title-color);
  text-decoration: none;
}

/* main */
.main-container {
  flex-grow: 1;
}

/* slider */
.slider-wrapper {
  position: relative;
}

.slider-gallery {
  margin: 0;
  padding-left: 0;
}

.slider-item {
  list-style-type: none;
}

.slider-item:not(:first-child) {
  display: none;
}

.slider-item-inner {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, var(--accent-color) 150px, var(--white) 150px);
}

.slider-item-photo {
  width: 560px;
  height: auto;
  object-fit: contain;
}

.slider-item-description {
  width: 560px;
  padding-top: 121px;
}

.slider-item-title {
  margin-top: 0;
  margin-bottom: 29px;
  font-family: var(--second-font), sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--title-color);
}

.slider-item-text {
  margin-bottom: 51px;
}

.slider-item-link {
  min-width: 220px;
  margin-bottom: 49px;
}

.slider-item-facts {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

 .slider-item-col {
  margin-right: 20px;
  margin-bottom: 38px;
} 

.slider-item-amount {
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 30px;
  color: var(--title-color);
}

.slider-item-desc {
  margin-left: 0;
  font-size: 16px;
}

.slider-btn {
  width: 20px;
  height: 60px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.slider-btn-prev {
  position: absolute;
  left: 30px;
  top: 211px;
  background: url('../images/icons/slider-left.svg') center center no-repeat;
}

.slider-btn-next {
  position: absolute;
  left: 540px;
  top: 211px;
  background: url('../images/icons/slider-right.svg') center center no-repeat;
}

.slider-controls {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  list-style-type: none;
  position: absolute;
  right: 0;
  bottom: 243px;
}

.slider-controls-item {
  margin-right: 20px;
}

.slider-controls-btn {
  padding: 0;
  width: 12px;
  height: 12px;
  border: 2px solid var(--title-color);
  border-radius: 50%;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.slider-controls-btn-active {
  background-color: var(--title-color);
}

.slider-controls-btn:hover,
.slider-controls-btn-active:hover {
  opacity: 0.6;
}

.slider-controls-btn:active,
.slider-controls-btn-active:active {
  opacity: 0.3;
}

.slider-controls-btn:focus,
.slider-controls-btn-active:focus {
  outline: var(--outline-style);
}

/* popular categories */
.popular-categories-container {
  padding-bottom: 40px;
}

.popular-categories-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.popular-categories-item {
  width: 160px;
  min-height: 253px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.popular-categories-item:nth-child(6n) {
  margin-right: 0;
}

.popular-categories-preview {
  display: block;
  margin-bottom: 32px;
  background-color: var(--accent-color);
  transition-property: background-color;
  transition-duration: 400ms;
}

.popular-categories-link {
  display: block;
  height: 100%;
  font-family: var(--second-font), sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: -0.36px;
  color: var(--title-color);
}

.popular-categories-link:hover .popular-categories-preview {
  background-color: var(--dark-yellow);
}

.popular-categories-link:active>svg {
 opacity: 0.3;
}

.popular-categories-link:focus {
  outline: var(--outline-style);
  outline-offset: 2px;
}

/* services */
.services {
  background: linear-gradient(0deg, rgba(255,255,255,1) 242px, rgba(240,240,240,1) 242px, rgba(240,240,240,1) 533px, rgba(255,255,255,1) 533px);
}

.services-inner {
  margin-bottom: 70px;
  padding-bottom: 72px;
  display: flex;
  align-items: center;
}

.services-navigation {
  width: 280px;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.services-navigation-item {
  width: 280px;
  margin-bottom: 35px;
}

.services-navigation-item:last-child {
  margin-bottom: 0;
}

.services-navigation-link {
  display: block;
  width: 280px;
  min-height: 40px;
  font-family: var(--second-font), sans-serif;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: var(--title-color);
  text-decoration: none;
}

.services-navigation-link:hover {
  background-color: var(--title-color);
}

.services-navigation-link:hover .services-navigation-text {
  background: none;
  color: rgba(255, 255, 127, 0.6);
}

.services-navigation-link:active .services-navigation-text {
  color: rgba(255, 255, 127, 0.3);
}

.services-navigation-link:focus {
  outline: var(--outline-style);
  outline-offset: 2px;
}

.services-navigation-link-active {
  background-color: var(--title-color);
}

.services-navigation-link-active .services-navigation-text {
  background: none;
   color: var(--accent-color);
}

.services-navigation-text {
  display: inline-block;
  width: 160px;
  padding-top: 9px;
  padding-bottom: 11px;
  font-family: var(--second-font), sans-serif;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: var(--title-color);
  text-decoration: none;
  background:  linear-gradient( rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 16px, var(--accent-color) 16px, var(--accent-color) 24px, rgba(255, 255, 255, 0) 24px, rgba(255, 255, 255, 0) 40px);
}

.services-list {
  margin: 0;
  padding: 0;
  border-left: 7px solid var(--black);
  list-style-type: none;
}

.services-item {
  width: 810px;
  padding: 72.5px 0;
  padding-left: 116px;
  padding-right: 242px;
}

.services-item-delivery {
  background: url('../images/service-icons/delivery.svg') right center no-repeat;
}

.services-item-guarantee {
  background: url('../images/service-icons/guarantee.svg') right center no-repeat;
}

.services-item-credit {
  background: url('../images/service-icons/credit.svg') right center no-repeat;
}

/* временно скрыты */
.services-item:not(:nth-child(1)) {
  display: none;
}

.services-subtitle {
  margin-top: 0;
  margin-bottom: 34px;
  font-family: var(--second-font), sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--title-color);
}

.services-offer {
  display: block;
  width: 100%;
  padding: 40px 125px;
  font-family: var(--second-font), sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: var(--title-color);
  background-color: var(--light-gray);
  text-decoration: none;
  transition: all 400ms;
  position: relative;
}

.services-offer::before {
  position: absolute;
  content: '';
  width: 125px;
  height: 103px;
  top: 0;
  left: 0;
  background: url('../images/icons/car.svg') center center no-repeat;
  background-size: 47px 31px;
  background-color: var(--accent-color);
  transition-property: opacity background-color;
  transition-duration: .5s;
} 

.services-offer:hover.services-offer::before {
  background-color: var(--dark-yellow);
}

.services-offer:active {
  opacity: 0.3;
}

.services-offer:focus {
  outline: var(--outline-style);
  outline-offset: 2px;
}

.services-offer-decor {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background-color: var(--gray-border);
}

.services-offer-icon {
  fill: var(--title-color);
  opacity: 0.3;
  transition-property: opacity;
  transition-duration: .5s;
}

.services-offer:hover .services-offer-icon {
  opacity: 1;
}

.services-description {
  margin-bottom: 0;
}

/* index page */
.section-wrapper {
  display: flex;
  justify-content: space-between;
}

/* about */
.about {
  width: 520px;
  padding-right: 23px;
}

.about-title {
  margin-top: 0;
  margin-bottom: 48px;
  padding-top: 47px; 
  font-family: var(--second-font), sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--title-color);
  position: relative;
}

.about-title::before {
  position: absolute;
  content: '';
  width: 84px;
  height: 7px;
  top: 0;
  left: 0;
  background-color: var(--title-color);
}

.about-text {
  margin-top: 0;
  margin-bottom: 30px;
}

.about-list {
  margin: 30px 0;
  padding: 0;
  list-style-type: none;
}

.about-item {
  padding-left: 34px;
  margin-bottom: 19px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: var(--title-color);
  position: relative;
}

.about-item:last-child {
  margin-bottom: 0;
}

.about-item::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  top: 6px;
  left: 3px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.about-button {
  padding-left: 22px;
  padding-right: 22px;
}

/* contacts */
.contacts {
  width: 532px;
}

.contacts-title {
  margin-top: 0;
  margin-bottom: 48px;
  padding-top: 47px;
  font-family: var(--second-font), sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--title-color);
  position: relative;
}

.contacts-title::before {
  position: absolute;
  content: '';
  width: 84px;
  height: 7px;
  top: 0;
  left: 0;
  background-color: var(--title-color);
}

.contacts-subtitle {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts-text {
  margin-top: 0;
  margin-bottom: 30px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  display: inline-block;
  margin-bottom: 30px;
  color: inherit;
}

.contacts-button {
  padding-left: 32px;
  padding-right: 32px;
}

/* subscribe */
.subscribe {
  background-color: var(--light-gray);
}

.subscribe-container {
  min-height: 421px;
  padding-top: 64px;
  padding-bottom: 56px;
  display: flex;
  flex-direction: column;
}

.subscribe-inner {
  display: flex;
  align-items: center;
}

.subscribe-title {
  width: 348px;
  margin: 0;
  font-family: var(--second-font), sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--title-color);
}

.subscribe-description {
  width: 560px;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.subscribe-form-wrapper {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.subscribe-form {
  width: 810px;
  display: flex;
}

.subscribe-input {
  flex-grow: 1;
}

.subscribe-button {
  padding: 18px 39px;
  border: 3px solid var(--gray-border);
  transition: all 400ms;
  cursor: pointer;
}

.subscribe-button:hover {
  border-color: var(--title-color);
}

.subscribe-button:active {
  opacity: 0.3;
}

.subscribe-input:focus,
.subscribe-button:focus {
  outline: var(--outline-style);
  outline-offset: 2px;
}

.subscribe-slogan {
  display: inline-block;
  position: relative;
  margin-left: auto;
  padding-left: 30px;
}

.subscribe-slogan::before {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url('../images/icons/mark.svg') center center no-repeat;
}

/* catalog */
/* main */
.main-inner {
  font-size: 16px;
  line-height: 19px;
  background-color: var(--light-gray);
  color: var(--title-color);
}

.main-inner-container {
  display: flex;
  padding-bottom: 0;
}

.inner-header {
  background-color: var(--white);
}

.inner-header-container {
  padding: 35px 60px;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: var(--second-font), sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  position: absolute;
  content: '';
  width: 4px;
  height: 7px;
  top: 6px;
  right: 16px;
  background: url('../images/icons/arrow-crumbs.svg') center center no-repeat;
}

.breadcrumbs-item:last-child.breadcrumbs-item::after {
  display: none;
}

.breadcrumbs-link {
  display: block;
  margin-right: 36px;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: inherit;
  transition-property: opacity;
  transition-duration: .5s;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: var(--outline-style);
}

/* filter */
.products-filter {
  width: 320px;
  padding: 25px 60px;
  font-size: 16px;
  line-height: 19px;
}

.products-filter-subtitle {
  margin-top: 0;
  margin-bottom: 58px;
  font-family: var(--second-font), sans-serif;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.products-filter-legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.36px; 
}

.products-filter-button {
  width: 100%;
  margin-top: 35px;
}


.main-inner-content {
  width: 840px;
}

/* sorting */
.sorting {
  background-color: var(--light-gray);
}

.sorting-container {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting-subtitle {
  margin: 0;
  font-family: var(--second-font), sans-serif;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.sorting-order {
  font-size: 18px;
  line-height: 30px;
}

.sorting-inner {
  height: 30px;
}

.sorting-price {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.sorting-price:hover .sorting-icon {
  opacity: 0.5;
}

.sorting-price:active .sorting-icon {
  opacity: 1;
}

.sorting-price:focus {
  outline: var(--outline-style);
}

.sorting-icon {
  opacity: 0.2;
  transition-property: opacity;
  transition-duration: .5s;
}

/* goods */
.goods {
  padding-left: 40px;
  padding-top: 70px;
  padding-right: 40px;
  padding-bottom: 44px;
  background-color: var(--white);
}

.goods-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 44px;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  list-style-type: none;
}

.goods-list-preview {
  display: block;
  width: 360px;
  height: 380px;
  margin-bottom: 32px;
}

.goods-list-preview:hover {
  
}

.goods-list-preview:active {
  
}

.goods-list-preview:focus {
  outline: var(--outline-style);
}

.goods-list-new {
  position: relative;
}

.goods-list-new::after {
  position: absolute;
  content: '';
  width: 60px;
  height: 60px;
  top: 27px;
  right: 27px;
  background: url('../images/icons/new.svg') center center no-repeat;
}

.goods-list-info {
  display: flex;
  justify-content: space-between; 
  color: inherit;
  text-decoration: none;
  transition-property: opacity;
  transition-duration: .4s;
}

.goods-list-info:hover {
  opacity: 0.6;
}

.goods-list-info:active {
  opacity: 0.3;
}

.goods-list-info:focus {
  outline: var(--outline-style);
}

.goods-list-name {
  max-width: 226px;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.goods-list-price {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
}

.goods-list-image {
  width: 360px;
  height: auto;
  object-fit: cover;
}

.goods-show-button {
  display: block;
  width: 100%;
  padding: 18px;
  font-family: var(--second-font), sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid var(--gray);
  background-color: transparent;
  cursor: pointer;
  transition-property: background-color color;
  transition-duration: .5s;
}

.goods-show-button:hover {
  color: var(--white);
  background-color: var(--title-color);
  border-color:  var(--title-color);
}

.goods-show-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.goods-show-button:focus {
  outline: var(--outline-style);
  outline-offset: 2px;
}

/* pagination */
.goods-pagination {
  padding-bottom: 78px;
  background-color: var(--white);
}

.goods-pagination-container {
  width: 760px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: var(--gray);
}

.goods-pagination-button {
  display: inline-block;
  padding: 25px;
  font-family: var(--second-font), sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  cursor: pointer;
  transition-property: background-color color;
  transition-duration: .5s;
}

.goods-pagination-button:hover {
  background-color: var(--gray-border);
}

.goods-pagination-button:active {
  background-color: var(--gray-border);
  color: rgba(0, 0, 0, 0.3);
}

.goods-pagination-button:focus {
  outline: var(--outline-style);
  outline-offset: 2px;
}

.goods-pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.goods-pagination-link {
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: rgba(68, 68, 68, 0.3);
  text-decoration: none;
  text-align: center;
  transition-property: color;
  transition-duration: .5s;
}

.goods-pagination-link:hover {
 color: var(--title-color);
}

.goods-pagination-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.goods-pagination-link:focus {
  outline: var(--outline-style);
}

/* footer */
.footer {
  background-color: var(--text-color);
  color: var(--white);
}

.footer-container {
  min-height: 321px;
  padding: 62px 0;
  display: flex;
  align-items: flex-end;
}

.footer-contacts {
  width: 239px;
  margin-right: 112px;
  margin-bottom: auto;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 35px;
}

.footer-address {
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  position: relative;
}

.footer-address::after {
  position: absolute;
  content: '';
  width: 80px;
  height: 7px;
  left: 0;
  top: 97px;
  background-color: var(--dark-yellow);
}

.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-navigation {
  width: 493px;
  margin-bottom: 50px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.footer-navigation-item {
  margin-right: 35px;
} 

.footer-navigation-item:last-child {
  margin-right: 0;
} 

.footer-navigation-link {
  display: block;
  font-family: var(--second-font), sans-serif;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  transition: all 300ms;
  position: relative;
}

.footer-navigation-link::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -6px;
  background-color: var(--dark-yellow);
  transition: all 300ms;
  opacity: 0;
}

.footer-navigation-link:hover {
  color: var(--dark-yellow);
}

.footer-navigation-link:hover.footer-navigation-link::after {
  opacity: 1;
}

.footer-navigation-link:active {
  opacity: 0.3;
}

.footer-navigation-link:active.footer-navigation-link::after {
  opacity: 0.3;
}

.footer-navigation-link:focus {
  outline: var(--outline-style);
  outline-offset: 2px;
  color: var(--white);
}

.footer-navigation-link:focus.footer-navigation-link::after {
  opacity: 0;
}

.footer-social {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 15px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-social-link {
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transition-property: background-color;
  transition-duration: .5s;
}

.footer-social-icon {
  fill: var(--text-color);
}

.footer-social-link:hover {
  background-color: var(--dark-yellow);
}

.footer-social-link:active {
  background-color: var(--dark-yellow);
}

.footer-social-link:active .footer-social-icon{
  opacity: 0.3;
}

.footer-social-link:focus {
  outline: var(--outline-style);
}

.footer-connect {
  width: 174px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-phone {
  display: block;
  margin-bottom: 63px;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
  transition: all 300ms;
}

.footer-phone:hover {
  color: var(--dark-yellow);
}

.footer-phone:active {
  color: var(--dark-yellow);
  opacity: 0.3;
}

.footer-phone:focus {
  outline: var(--outline-style);
}

.footer-dev-link {
  display: block;
  width: 115px;
  height: 33px;
} 

.footer-dev-logo {
  fill: var(--dark-yellow);
  transition: all 400ms;
}

.footer-dev-link:hover .footer-dev-logo {
  fill: var(--white);
}

.footer-dev-link:active .footer-dev-logo {
  fill: var(--white);
  fill-opacity: 0.3;
}

.footer-dev-link:focus .footer-dev-logo {
  outline: var(--outline-style);
}

