@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/* Raleway */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

:root {
  /* цвета */
  --black: #000000;
  --black-special: #1a1a1a;
  --dark-gray: #444444;
  --gray-border: #dcdcdc;
  --gray: #ebebeb;
  --light-gray: #f0f0f0;
  --yellow: #ffe17f;
  --dark-yellow: #ffcc33;
  --white: #ffffff;
  --purple: #af4fff;
  --red: #ff3d3d;
  /* цветовые схемы */
  --title-color: var(--black);
  --text-color: var(--dark-gray);
  --accent-color: var(--yellow);
  --error: var(--red);
  /* шрифты */
  --main-font: "Rubik";
  --second-font: "Raleway";
  /* outline */
  --outline-style: 2px solid var(--purple);
  --outline-offset: 2px;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-color);
  background-color: var(--white);
  counter-reset: slider-counter;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*
.page-wrapper {
  width: 1440px;
  margin: 0 auto;
  padding: 0 140px;
} */

.wrapper {
  width: 1440px;
  margin: 0 auto;
  padding: 0 140px;
}

.wrapper-page {
  display: flex;
}

.button {
  display: inline-block;
  padding: 10px 5px;
  font-family: var(--second-font), sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: var(--title-color);
  text-decoration: none;
  cursor: pointer;
}

.button-decorated {
  border: none;
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 16px,
    var(--accent-color) 16px,
    var(--accent-color) 24px,
    rgba(255, 255, 255, 0) 24px,
    rgba(255, 255, 255, 0) 40px
  );
}

.button-decorated:hover {
  background: linear-gradient(var(--accent-color) 0, var(--accent-color) 40px);
}

.button-decorated:active {
  background: linear-gradient(var(--dark-yellow) 0, var(--dark-yellow) 40px);
}

.button-decorated:focus {
  outline: var(--outline-style);
}

.button-decorated:disabled {
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 16px,
    var(--accent-color) 16px,
    var(--accent-color) 24px,
    rgba(255, 255, 255, 0) 24px,
    rgba(255, 255, 255, 0) 40px
  );
  opacity: 0.3;
  cursor: auto;
}

/* header */
.header {
  padding-top: 40px;
  color: var(--title-color);
}

.header-container {
  padding: 0 60px;
  padding-top: 43px;
  background-color: var(--accent-color);
  position: relative;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  margin-bottom: 30px;
}

.logo {
  transition-property: opacity;
  transition-duration: 400ms;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.logo:focus {
  outline: var(--outline-style);
}

.logo img {
  width: 145px;
  height: 36px;
}

.header-logo {
  display: inline-block;
  width: 145px;
  height: 36px;
  margin-left: 60px;
  position: absolute;
  top: -23px;
  left: 0;
}

.header-search {
  min-width: 517px;
  display: flex;
}

.header-search-field-wrapper {
  height: 40px;
  flex-grow: 1;
  position: relative;
}

.header-search-field {
  width: 357px;
  position: absolute;
  height: 40px;
  padding: 8px;
  padding-left: 48px;
  border: none;
  font-family: var(--main-font), sans-serif;
  font-size: 16px;
  line-height: 20px;
  background: url("../images/icons/search.svg") 16px 10px no-repeat;
  background-color: transparent;
  z-index: 5;
}

.header-search-field::placeholder {
  color: var(--title-color);
  opacity: 0.3;
}

.header-search-field:focus {
  outline: var(--outline-style);
  outline-offset: 3px;
}

.header-search-field:disabled {
  opacity: 0.3;
}

.header-search-field:disabled + .header-search-decorator {
  opacity: 0.3;
}

.header-search-decorator {
  position: absolute;
  width: 357px;
  height: 40px;
  top: 0;
  left: 0;
  border: 2px solid var(--title-color);
  border-radius: 50px 0 0 50px;
  z-index: 0;
}

.header-search-btn-wrapper {
  width: 160px;
  height: 40px;
  position: relative;
}

.header-search-btn {
  position: absolute;
  width: 160px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: var(--main-font), sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 5;
}

.header-search-btn:hover {
  color: var(--white);
}

.header-search-btn:hover + .header-search-btn-decorator {
  background-color: var(--title-color);
}

.header-search-btn:active {
  color: var(--dark-gray);
}

.header-search-btn:active + .header-search-btn-decorator {
  background-color: var(--title-color);
}

.header-search-btn:focus {
  outline: var(--outline-style);
  outline-offset: 3px;
}

.header-search-btn:disabled {
  color: var(--text-color);
  opacity: 0.3;
  cursor: auto;
}

.header-search-btn:disabled + .header-search-btn-decorator {
  background-color: transparent;
  opacity: 0.3;
}

.header-search-btn-decorator {
  position: absolute;
  width: 160px;
  height: 40px;
  top: 0;
  right: 0;
  border: 2px solid var(--title-color);
  border-radius: 0 50px 50px 0;
  border-left: none;
  text-align: center;
  transition-property: background-color;
  transition-duration: 0.4s;
  z-index: 1;
}

/* user navigation */
.header-usermenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-usermenu-item {
  margin-left: 26px;
}

.header-usermenu-item:first-child {
  margin-right: auto;
}

.header-usermenu-item-cart {
  position: relative;
}

.header-usermenu-link {
  display: block;
  padding-left: 25px;
  color: inherit;
  text-decoration: none;
  transition-property: opacity;
  transition-duration: 0.3s;
  position: relative;
}

.header-usermenu-link:hover {
  opacity: 0.6;
}

.header-usermenu-link:active {
  opacity: 0.3;
}

.header-usermenu-link:focus {
  outline: var(--outline-style);
}

.header-usermenu-link-cart {
  padding-left: 43px;
  margin-left: -11px;
  position: relative;
}

.header-usermenu-link-logout {
  padding-left: 0;
  color: inherit;
  opacity: 0.3;
}

.header-usermenu-icon {
  fill: var(--black);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.header-usermenu-cart {
  fill: var(--black);
  position: absolute;
  top: 5px;
  left: 15px;
}

.header-usermenu-count {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 4px;
  left: 0;
  background-color: var(--white);
  border-radius: 50%;
  font-size: 14px;
  line-height: 17px;
  z-index: 5;
}

/* класс, скрывающий поповер */
.popover-closed {
  display: none;
}

/* popover-cart */
.popover-cart {
  position: absolute;
  width: 320px;
  min-height: 90px;
  top: 36px;
  right: -76px;
  color: var(--white);
  background-color: var(--title-color);
  z-index: 5;
}

.popover-cart-content {
  position: relative;
}

.popover-cart-content::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 6px;
  top: -6px;
  left: 50%;
  transform: translateX(-7px);
  background: url("../images/icons/tooltip-decor.svg") center center no-repeat;
}

.popover-cart-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popover-cart-item {
  position: relative;
  padding: 20px;
  padding-right: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.popover-cart-preview {
  display: flex;
  align-items: flex-start;
  color: inherit;
  text-decoration: none;
  transition-property: opacity;
  transition-duration: 0.4s;
}

.popover-cart-preview:hover {
  opacity: 0.6;
}

.popover-cart-preview:active {
  opacity: 0.3;
}

.popover-cart-preview:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.popover-cart-image {
  display: block;
  width: 39px;
  height: 43px;
  margin-right: 23px;
  object-fit: contain;
}

.popover-cart-name {
  display: block;
  font-size: 16px;
  line-height: 20px;
}

.popover-cart-remove {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 20px;
  right: 20px;
  padding: 0;
  background: url("../images/icons/remove-item.svg") center center no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popover-cart-remove:hover {
  opacity: 0.6;
}

.popover-cart-remove:active {
  opacity: 0.3;
}

.popover-cart-remove:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.popover-cart-resume {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 16px;
  line-height: 20px;
  padding: 0 20px;
  background-color: var(--black-special);
}

.popover-cart-resume-info {
  margin: 11px 0;
}

.popover-cart-inner {
  padding: 20px;
}

.popover-cart-button {
  display: block;
  padding: 15px 20px;
  padding-left: 25px;
  background-color: var(--white);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.popover-cart-button:hover {
  background-color: var(--accent-color);
}

.popover-cart-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.popover-cart-button:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.popover-cart-button:disabled {
  color: rgba(0, 0, 0, 0.3);
}

/* site navigation */
.header-navigation-index {
  padding-bottom: 4px;
}

.header-navigation-page {
  padding-bottom: 22px;
}

.header-navigation-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-navigation-item {
  margin-right: 45px;
}

.header-navigation-item:first-child {
  margin-right: auto;
}

.header-navigation-item:last-child {
  margin-right: 0;
}

.header-navigation-link {
  display: block;
  font-family: var(--second-font), sans-serif;
  color: var(--title-color);
  line-height: 21px;
  letter-spacing: 3.6px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition-property: opacity;
  transition-duration: 300ms;
}

.header-navigation-link-current {
  padding-bottom: 4px;
  position: relative;
}

.header-navigation-link-current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 2px;
  background-color: var(--title-color);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 400ms;
}

.header-navigation-link:hover {
  opacity: 0.6;
}

.header-navigation-link:active {
  opacity: 0.3;
}

.header-navigation-link:focus {
  outline: var(--outline-style);
}

.header-navigation-link-current.header-navigation-link::after {
  opacity: 1;
}

.header-navigation-link-current:hover.header-navigation-link::after {
  opacity: 0.8;
}

.header-navigation-link-current:active.header-navigation-link::after {
  opacity: 0.5;
}

.header-navigation-link-current:focus.header-navigation-link::after {
  opacity: 1;
}

.header-navigation-catalog {
  padding: 15px 0;
  padding-right: 67px;
  cursor: pointer;
  position: relative;
}

.header-navigation-catalog:hover,
.header-navigation-catalog:active {
  opacity: 1;
}

.header-navigation-catalog:focus {
  outline-offset: 2px;
}
.header-navigation-catalog::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  background: url("../images/icons/show.svg") center center no-repeat;
  opacity: 0.3;
}

.header-navigation-catalog::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 16px;
  top: 17px;
  right: 24px;
  background-color: var(--title-color);
  transition-property: transform;
  transition-duration: 0.5s;
  opacity: 0.3;
}

.header-navigation-catalog:hover::before,
.header-navigation-catalog:active::before {
  opacity: 1;
}

.header-navigation-catalog:hover::after {
  transform: rotate(90deg);
  opacity: 1;
}

.header-navigation-catalog:active::after {
  transform: rotate(90deg);
  opacity: 1;
}

/* header submenu */
.header-submenu {
  position: absolute;
  top: 170px;
  left: 0;
  width: 100%;
  height: 155px;
  margin: 0;
  padding: 0 60px;
  padding-bottom: 47px;
  flex-wrap: wrap;
  list-style-type: none;
  background-color: var(--accent-color);
  z-index: 6;
  display: flex;
}

.header-submenu-closed {
  display: none;
}

.header-navigation-catalog:focus-within .header-submenu {
  display: flex;
}

.header-submenu-item {
  width: 220px;
  height: fit-content;
  margin-right: 30px;
}

.header-submenu-item:nth-child(3) {
  margin-left: -35px;
}

.header-submenu-item:last-child {
  width: 100%;
  margin-right: 0;
}

.header-submenu-break {
  width: 50%;
  margin-right: auto;
}

.header-submenu-link {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  color: var(--title-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.5s;
}

.header-submenu-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-submenu-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-submenu-link:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.header-submenu-current {
  padding-bottom: 3px;
  position: relative;
}

.header-submenu-current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: var(--title-color);
}

.header-submenu-current:hover::after {
  background-color: rgba(0, 0, 0, 0.6);
}

.header-submenu-current:active::after {
  background-color: rgba(0, 0, 0, 0.3);
}

/* main */
.main-container {
  flex-grow: 1;
}

/* slider */
.slider-wrapper {
  position: relative;
}

.slider-gallery {
  margin: 0;
  padding-left: 0;
  padding-bottom: 70px;
}

.slider-item {
  display: none;
  list-style-type: none;
  counter-increment: slider-counter;
  position: relative;
}

.slider-item-active {
  display: block;
}

.slider-item::before {
  position: absolute;
  content: "0" counter(slider-counter);
  width: 250px;
  height: 180px;
  top: -26px;
  right: 48px;
  transform: translateY(90px);
  color: var(--white);
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  text-align: right;
}

.slider-item-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: linear-gradient(
    180deg,
    var(--accent-color) 131px,
    var(--white) 131px
  );
}

.slider-item-photo {
  display: block;
  width: 560px;
  height: auto;
  margin-top: -20px;
}

.slider-item-description {
  width: 560px;
  padding-top: 104px;
}

.slider-item-title {
  margin: 0;
  margin-bottom: 29px;
  font-family: var(--second-font), sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--title-color);
  position: relative;
}

.slider-item-text {
  margin-bottom: 51px;
}

.slider-item-link {
  min-width: 220px;
  margin-bottom: 47px;
}

.slider-item-facts {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.slider-item-col {
  margin-right: 20px;
  margin-bottom: 38px;
}

.slider-item-amount {
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 30px;
  color: var(--title-color);
}

.slider-item-desc {
  margin-left: 0;
  font-size: 16px;
}

.slider-buttons {
  position: absolute;
  width: 530px;
  height: 60px;
  top: 192px;
  left: 170px;
  display: flex;
  justify-content: space-between;
}

.slider-btn {
  width: 20px;
  height: 60px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.slider-btn:hover .slider-btn-icon {
  opacity: 0.6;
}

.slider-btn:active .slider-btn-icon {
  opacity: 0.3;
}

.slider-btn:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.slider-btn:disabled {
  opacity: 0.1;
}

.slider-btn-icon {
  fill: var(--black);
  transition-property: opacity;
  transition-duration: 400ms;
}

.slider-controls {
  position: absolute;
  width: 76px;
  height: 12px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  list-style-type: none;
  right: 140px;
  bottom: 258px;
}

.slider-controls-item {
  margin-right: 20px;
}

.slider-controls-item:last-child {
  margin-right: 0;
}

.slider-controls-btn {
  padding: 0;
  width: 12px;
  height: 12px;
  border: none;
  background-color: transparent;
  position: relative;
}

.slider-controls-btn::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 0;
  left: 0;
  border: 2px solid var(--title-color);
  border-radius: 50%;
  transition-property: opacity;
  transition-duration: 0.3s;
  cursor: pointer;
}

.slider-controls-btn-active.slider-controls-btn::after {
  background-color: var(--title-color);
}

.slider-controls-btn:hover::after {
  background-color: var(--title-color);
  opacity: 0.6;
}

.slider-controls-btn:active::after {
  opacity: 0.3;
}

.slider-controls-btn:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

/* popular categories */
.popular-categories-container {
  padding-bottom: 40px;
}

.popular-categories-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.popular-categories-item {
  width: 160px;
  min-height: 253px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.popular-categories-item:nth-child(6n) {
  margin-right: 0;
}

.popular-categories-preview {
  display: block;
  height: 159px;
  margin-bottom: 34px;
  background-color: var(--accent-color);
  transition-property: background-color;
  transition-duration: 400ms;
}

.popular-categories-link {
  display: block;
  height: 100%;
  font-family: var(--second-font), sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: -0.36px;
  color: var(--title-color);
}

.popular-categories-link:hover .popular-categories-preview {
  background-color: var(--dark-yellow);
}

.popular-categories-link:active {
  opacity: 0.3;
}

.popular-categories-link:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

/* services */
.services {
  background: linear-gradient(
    0deg,
    var(--white) 240px,
    var(--light-gray) 240px,
    var(--light-gray) 530px,
    var(--white) 530px
  );
}

.services-wrapper {
  padding-bottom: 70px;
}

.services-inner {
  margin-bottom: 70px;
  padding-bottom: 72px;
  display: flex;
  align-items: center;
}

.services-navigation {
  width: 280px;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.services-navigation-item {
  width: 280px;
  margin-bottom: 35px;
}

.services-navigation-item:last-child {
  margin-bottom: 0;
}

.services-navigation-link {
  display: block;
  width: 280px;
  min-height: 40px;
  font-family: var(--second-font), sans-serif;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: var(--title-color);
  text-decoration: none;
}

.services-navigation-link:hover {
  background-color: var(--title-color);
}

.services-navigation-link:hover .services-navigation-text {
  background: none;
  color: rgba(255, 255, 127, 0.6);
}

.services-navigation-link:active .services-navigation-text {
  color: rgba(255, 255, 127, 0.3);
}

.services-navigation-link:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.services-navigation-link-active {
  background-color: var(--title-color);
}

.services-navigation-link-active .services-navigation-text {
  background: none;
  color: var(--accent-color);
}

.services-navigation-text {
  display: inline-block;
  width: 160px;
  padding-top: 9px;
  padding-bottom: 11px;
  font-family: var(--second-font), sans-serif;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: var(--title-color);
  text-decoration: none;
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 16px,
    var(--accent-color) 16px,
    var(--accent-color) 24px,
    rgba(255, 255, 255, 0) 24px,
    rgba(255, 255, 255, 0) 40px
  );
}

.services-list {
  margin: 0;
  padding: 0;
  border-left: 7px solid var(--black);
  list-style-type: none;
}

.services-item {
  display: none;
  width: 810px;
  padding: 72.5px 0;
  padding-left: 116px;
  padding-right: 242px;
}

.services-item-active {
  display: block;
}

.services-item-delivery {
  background: url("../images/service-icons/delivery.svg") right center no-repeat;
}

.services-item-guarantee {
  background: url("../images/service-icons/guarantee.svg") right center
    no-repeat;
}

.services-item-credit {
  background: url("../images/service-icons/credit.svg") right center no-repeat;
}

.services-subtitle {
  margin-top: 0;
  margin-bottom: 34px;
  font-family: var(--second-font), sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--title-color);
}

.services-offer {
  display: block;
  width: 100%;
  padding-left: 129px;
  padding-top: 41px;
  padding-right: 125px;
  padding-bottom: 37px;
  font-family: var(--second-font), sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--title-color);
  background-color: var(--light-gray);
  text-decoration: none;
  position: relative;
}

.services-offer::before {
  position: absolute;
  content: "";
  width: 125px;
  height: 100px;
  top: 0;
  left: 0;
  background: url("../images/icons/car.svg") center center no-repeat;
  background-size: 47px 31px;
  background-color: var(--accent-color);
  transition-property: opacity, background-color;
  transition-duration: 0.5s;
}

.services-offer:hover.services-offer::before {
  background-color: var(--dark-yellow);
}

.services-offer:active {
  opacity: 0.3;
}

.services-offer:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.services-offer-decor {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: 43px;
  transform: translateY(-21px);
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background-color: var(--gray-border);
}

.services-offer-icon {
  fill: var(--title-color);
  opacity: 0.3;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.services-offer:hover .services-offer-icon {
  opacity: 1;
}

.services-description {
  margin-bottom: 0;
}

/* index page */
.section-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

/* about */
.about {
  width: 520px;
  padding-right: 23px;
}

.about-title {
  margin-top: 0;
  margin-bottom: 48px;
  padding-top: 47px;
  font-family: var(--second-font), sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--title-color);
  position: relative;
}

.about-title::before {
  position: absolute;
  content: "";
  width: 84px;
  height: 7px;
  top: -1px;
  left: 0;
  background-color: var(--title-color);
}

.about-text {
  margin-top: 0;
  margin-bottom: 30px;
}

.about-list {
  margin: 30px 0;
  padding: 0;
  list-style-type: none;
}

.about-item {
  padding-left: 34px;
  margin-bottom: 19px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: var(--title-color);
  position: relative;
}

.about-item:last-child {
  margin-bottom: 0;
}

.about-item::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 6px;
  left: 3px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.about-button {
  padding-left: 22px;
  padding-right: 22px;
}

/* contacts */
.contacts {
  width: 532px;
}

.contacts-title {
  margin-top: 0;
  margin-bottom: 48px;
  padding-top: 47px;
  font-family: var(--second-font), sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--title-color);
  position: relative;
}

.contacts-title::before {
  position: absolute;
  content: "";
  width: 84px;
  height: 7px;
  top: -1px;
  left: 0;
  background-color: var(--title-color);
}

.contacts-subtitle {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts-text {
  margin-top: 0;
  margin-bottom: 30px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  display: inline-block;
  margin-bottom: 30px;
  color: inherit;
}

.contacts-button {
  padding-left: 32px;
  padding-right: 32px;
}

/* subscribe */
.subscribe {
  background-color: var(--light-gray);
}

.subscribe-container {
  min-height: 420px;
  padding-top: 64px;
  padding-bottom: 56px;
  display: flex;
  flex-direction: column;
}

.subscribe-inner {
  display: flex;
  align-items: center;
}

.subscribe-title {
  width: 348px;
  margin: 0;
  padding-left: 7px;
  font-family: var(--second-font), sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--title-color);
}

.subscribe-description {
  width: 560px;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
}

.subscribe-form-wrapper {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding-top: 50px;
}

.subscribe-form {
  width: 810px;
  display: flex;
}

.subscribe-input {
  flex-grow: 1;
  padding: 11px 16px;
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-color);
  border: none;
  border-bottom: 3px solid var(--gray-border);
  background-color: transparent;
}

.subscribe-input::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: rgba(68, 68, 68, 0.5);
  opacity: 0.5;
}

.subscribe-input:focus {
  background-color: var(--gray-border);
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.subscribe-input:disabled {
  opacity: 0.3;
}

/* класс добавляется, когда поле заполнено неверно */
.subscribe-input-invalid {
  border-bottom: 3px solid var(--error);
}

.subscribe-button {
  width: 253px;
  padding: 15px 36px;
  border: 3px solid var(--gray-border);
  transition-property: color;
  transition-duration: 0.4s;
  cursor: pointer;
}

.subscribe-button:hover {
  border-color: var(--title-color);
  background-color: var(--title-color);
  color: var(--white);
}

.subscribe-button:active {
  border-color: var(--title-color);
  background-color: var(--title-color);
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.subscribe-button:disabled {
  border-color: var(--title-color);
  opacity: 0.1;
  cursor: auto;
}

.subscribe-slogan {
  display: inline-block;
  position: relative;
  margin-left: auto;
  padding-right: 3px;
  padding-left: 32px;
}

.subscribe-slogan::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 7px;
  left: 0;
  background: url("../images/icons/mark.svg") center center no-repeat;
}

/* страница каталога */
/* main */
.main-inner {
  font-size: 16px;
  line-height: 19px;
  color: var(--title-color);
}

.main-inner-container {
  padding-bottom: 0;
  background-color: var(--light-gray);
}

.page-header {
  background-color: var(--white);
}

.page-header-container {
  padding: 35px 60px;
}

.page-header-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: var(--second-font), sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 7px;
  top: 6px;
  right: 16px;
  background: url("../images/icons/arrow-crumbs.svg") center center no-repeat;
}

.breadcrumbs-item:last-child.breadcrumbs-item::after {
  display: none;
}

.breadcrumbs-link {
  display: block;
  margin-right: 36px;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: inherit;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: var(--outline-style);
}

/* range-slider */
.range {
  padding-top: 8px;
}

.range-scale {
  width: 200px;
  height: 2px;
  background-color: var(--gray-border);
  position: relative;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: var(--title-color);
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.range-toggle-decorator {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background-color: var(--gray);
  border: 2px solid var(--title-color);
  border-radius: 50%;
}

.range-toggle:hover .range-toggle-decorator {
  border-color: rgba(0, 0, 0, 0.5);
}

.range-toggle:active .range-toggle-decorator {
  border-color: var(--title-color);
  background-color: var(--title-color);
}

.range-toggle:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.range-toggle-min {
  top: -8px;
  left: -8px;
}

.range-toggle-max {
  top: -8px;
}

.range-wrapper {
  height: 18px;
  padding-top: 7px;
  position: relative;
}

.range-count {
  position: absolute;
  min-width: 30px;
  height: 18px;
  top: 15px;
  left: -11px;
  margin-right: 10px;
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.range-count-active {
  top: 11px;
}

.range-label {
  position: absolute;
  width: 50px;
  height: 18px;
  top: 0;
  left: 0;
}

.range-input {
  position: relative;
  width: 30px;
  padding-left: 18px;
  font: inherit;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: rgba(0, 0, 0, 0.3);
  appearance: textfield;
  border: none;
  background-color: transparent;
}

.range-input-end {
  width: 60px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input:focus {
  outline: var(--outline-style);
}

/* filter */
.products-filter {
  width: 320px;
  padding: 25px 60px;
  padding-right: 40px;
  font-size: 16px;
  line-height: 19px;
}

.products-filter-group {
  width: 200px;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  border: none;
  position: relative;
}

.products-filter-group::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: -53px;
  left: 0;
  background-color: var(--title-color);
}

.products-filter-range {
  margin-bottom: 50px;
}

.products-filter-subtitle {
  margin-top: 0;
  margin-bottom: 58px;
  font-family: var(--second-font), sans-serif;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.products-filter-legend {
  padding-top: 13px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.products-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.products-filter-item {
  margin-bottom: 18px;
}

.products-filter-item:last-child {
  margin-bottom: 0;
}

.products-filter-item-radio {
  margin-bottom: 20px;
}

.products-filter-button {
  margin-top: 2px;
  width: 100%;
}

.products-filter-button:disabled {
  opacity: 0.3;
}

/* controls */
.control {
  display: block;
  position: relative;
  padding-left: 36px;
}

.control-label {
  color: var(--text-color);
  cursor: pointer;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  border: 2px solid var(--gray-border);
  border-radius: 3px;
}

.control:hover .control-mark {
  border-color: rgba(220, 220, 220, 0.7);
}

.control:hover .control-label {
  color: rgba(68, 68, 68, 0.6);
}

.control:active .control-mark {
  border-color: rgba(220, 220, 220, 0.5);
}

.control:active .control-label {
  color: rgba(68, 68, 68, 0.3);
}

.control-input:focus + .control-mark::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  top: -4px;
  left: -4px;
  border: 1px solid var(--purple);
}

.control-input:disabled + .control-mark {
  border-color: rgba(220, 220, 220, 0.3);
}

.control-input:disabled + .control-mark + .control-label {
  color: rgba(0, 0, 0, 0.1);
  cursor: auto;
}

.control-input[type="checkbox"]:checked + .control-mark {
  border-color: var(--title-color);
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 3px;
  left: 3px;
  background: url("../images/icons/checked-black.svg") center center no-repeat;
}

.control-input[type="radio"] + .control-mark {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark {
  border-color: var(--title-color);
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 4px;
  left: 4px;
  background-color: var(--title-color);
  border-radius: 50%;
}

.main-inner-content {
  width: 840px;
}

/* sorting */
.sorting {
  background-color: var(--light-gray);
}

.sorting-container {
  padding: 20px 40px;
  display: flex;
  align-items: center;
}

.sorting-subtitle {
  margin: 0;
  font-family: var(--second-font), sans-serif;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.sorting-subtitle-wrapper {
  width: 330px;
  margin-right: 10px;
}

.sorting-order-wrapper {
  text-align: center;
  margin-right: 15px;
}

.sorting-order {
  width: 159px;
  height: 30px;
  font-size: 18px;
  line-height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.sorting-order:hover {
  opacity: 0.6;
}

.sorting-order:active {
  opacity: 0.3;
}

.sorting-order:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.sorting-order:disabled {
  opacity: 0.1;
  cursor: auto;
}

.sorting-buttons-wrapper {
  width: 250px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.sorting-price {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sorting-price:hover .sorting-icon {
  opacity: 0.5;
}

.sorting-price:active .sorting-icon {
  opacity: 1;
}

.sorting-price:focus {
  outline: var(--outline-style);
}

.sorting-icon {
  opacity: 0.2;
  transition-property: opacity;
  transition-duration: 0.5s;
}

/* goods */
.goods {
  padding-left: 40px;
  padding-top: 70px;
  padding-right: 40px;
  padding-bottom: 44px;
  background-color: var(--white);
}

.goods-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 44px;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  list-style-type: none;
}

.goods-list-preview {
  display: block;
  width: 360px;
  color: inherit;
  text-decoration: none;
  position: relative;
}

.goods-list-preview::after {
  position: absolute;
  content: "";
  width: 360px;
  height: 380px;
  top: 0;
  left: 0;
  background-color: var(--light-gray);
  opacity: 0.8;
  display: none;
}

.goods-list-preview:hover {
  color: rgba(68, 68, 68, 0.8);
}

.goods-list-preview:hover::after {
  display: block;
}

.goods-list-preview:hover .goods-list-overlay {
  opacity: 1;
}

.goods-list-preview:active {
  color: rgba(68, 68, 68, 0.3);
}

.goods-list-preview:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.goods-list-overlay {
  position: absolute;
  width: 220px;
  height: 40px;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 16px,
    var(--accent-color) 16px,
    var(--accent-color) 24px,
    rgba(255, 255, 255, 0) 24px,
    rgba(255, 255, 255, 0) 40px
  );
  z-index: 10;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.goods-list-overlay:hover {
  background: linear-gradient(var(--accent-color) 0, var(--accent-color) 100%);
}

.goods-list-overlay:active {
  background: linear-gradient(var(--dark-yellow) 0, var(--dark-yellow) 100%);
}

.goods-list-new {
  position: relative;
}

.goods-list-new::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  top: 27px;
  right: 27px;
  background: url("../images/icons/new.svg") center center no-repeat;
}

.goods-list-image {
  display: block;
  width: 360px;
  height: 380px;
  margin-bottom: 32px;
}

.goods-list-info {
  display: flex;
  justify-content: space-between;
}

.goods-list-name {
  max-width: 226px;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.goods-list-price {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
}

.goods-list-preview:hover .goods-list-price {
  color: rgba(68, 68, 68, 0.8);
}

.goods-list-preview:active .goods-list-price {
  color: rgba(68, 68, 68, 0.3);
}

.goods-list-image {
  width: 360px;
  height: auto;
  object-fit: cover;
}

.goods-show-button {
  display: block;
  width: 100%;
  padding: 15px;
  font-family: var(--second-font), sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid var(--gray);
  background-color: var(--white);
  cursor: pointer;
  transition-property: border-color;
  transition-duration: 0.5s;
}

.goods-show-button:hover {
  border-color: var(--title-color);
}

.goods-show-button:active {
  border-color: var(--title-color);
  opacity: 0.3;
}

.goods-show-button:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.goods-show-button:disabled {
  border-color: var(--gray);
  opacity: 0.3;
  cursor: auto;
}

/* pagination */
.goods-pagination {
  padding-bottom: 78px;
  background-color: var(--white);
}

.goods-pagination-container {
  width: 760px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: var(--gray);
}

.goods-pagination-button {
  display: inline-block;
  padding: 25px;
  font-family: var(--second-font), sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

.goods-pagination-button-next {
  padding: 25px 22px;
}

.goods-pagination-button:hover {
  background-color: var(--gray-border);
}

.goods-pagination-button:active {
  background-color: var(--gray-border);
  color: rgba(0, 0, 0, 0.3);
}

.goods-pagination-button:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.goods-pagination-list {
  margin: 0;
  padding: 0;
  padding-right: 7px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.goods-pagination-link {
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: rgba(68, 68, 68, 0.3);
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.5s;
}

.goods-pagination-link:hover {
  color: var(--title-color);
}

.goods-pagination-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.goods-pagination-link:focus {
  outline: var(--outline-style);
}

/* modal */
.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 10;
}

.modal-container-closed {
  display: none;
}

.modal {
  width: 920px;
  height: 568px;
  position: relative;
  margin: auto;
  padding: 62px 70px;
  background-color: var(--white);
  border: 10px solid var(--title-color);
}

.modal-close-button {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 74px;
  right: 70px;
  padding: 0;
  background: url("../images/icons/close.svg") center center no-repeat;
  background-color: transparent;
  border: none;
  transition-property: opacity;
  transition-duration: 0.4s;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.modal-title {
  margin-top: 0;
  margin-bottom: 42px;
  font-family: var(--second-font), sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--title-color);
}

.delivery-form-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
}

.delivery-form-group {
  width: 360px;
  margin: 0;
}

.delivery-form-description {
  flex-grow: 1;
}

.delivery-form-label {
  display: block;
  position: relative;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: var(--title-color);
  word-wrap: break-word;
}

.delivery-form-text {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: var(--title-color);
}

.delivery-form-name {
  background: url("../images/icons/user-light.svg") 324px center no-repeat;
}

.delivery-form-email {
  background: url("../images/icons/mail.svg") 323px center no-repeat;
}

.delivery-form-input {
  display: block;
  width: 100%;
  height: 60px;
  padding: 20px;
  padding-right: 50px;
  font: inherit;
  line-height: 20px;
  color: var(--title-color);
  background-color: var(--light-gray);
  border: 2px solid var(--light-gray);
}

.delivery-form-input:hover {
  background-color: var(--gray-border);
  border-color: var(--gray-border);
}

.delivery-form-input:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.delivery-form-input:disabled {
  background-color: var(--light-gray);
  opacity: 0.3;
}

/* Класс, который добавляется, когда поле заполнено неверно */
.delivery-form-input-invalid {
  background-color: var(--light-gray);
  border: 2px solid var(--error);
}

.delivery-form-input-invalid + .delivery-form-text {
  color: var(--error);
}

.delivery-form-input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.delivery-form-label-wrapper {
  display: flex;
  align-items: flex-start;
}

.tooltip {
  display: block;
  width: 26px;
  height: 26px;
  margin-top: -3px;
  margin-left: 9px;
  position: relative;
}

.tooltip::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 6px;
  top: 30px;
  left: 6px;
  background: url("../images/icons/tooltip-decor.svg") center center no-repeat;
  display: none;
}

.tooltip:hover::after,
.tooltip:hover .tooltip-text {
  display: block;
}

.tooltip-button {
  width: 100%;
  height: 100%;
  margin-left: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tooltip-button:hover,
.tooltip-button:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.tooltip-text {
  position: absolute;
  width: 200px;
  top: 36px;
  right: -34px;
  padding: 19px;
  padding-right: 17px;
  font-size: 14px;
  line-height: 20px;
  color: var(--white);
  background-color: var(--title-color);
  z-index: 5;
  display: none;
}

.delivery-form-buttons {
  width: 180px;
  margin-left: 40px;
  margin-right: 0;
}

.delivery-form-amount-wrapper {
  width: 180px;
  position: relative;
}

.delivery-form-amount {
  width: 180px;
  height: 60px;
  padding: 20px 70px;
  text-align: center;
  font: inherit;
  line-height: 20px;
  color: var(--title-color);
  background-color: var(--light-gray);
  border: 2px solid var(--light-gray);
}

.delivery-form-amount:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.delivery-form-amount:invalid {
  border: 2px solid var(--error);
}

.delivery-form-amount::-webkit-outer-spin-button,
.delivery-form-amount::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.delivery-form-amount-button {
  position: absolute;
  width: 56px;
  height: 56px;
  display: flex;
  border: none;
  background-color: var(--light-gray);
  cursor: pointer;
}

.delivery-form-amount-button:hover {
  background-color: var(--gray);
  outline: 2px solid var(--gray);
}

.delivery-form-amount-button:hover .delivery-form-icon {
  fill: rgba(0, 0, 0, 0.6);
}

.delivery-form-amount-button:active {
  background-color: var(--light-gray);
  outline: 2px solid var(--gray);
}

.delivery-form-amount-button:active .delivery-form-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.delivery-form-amount-button:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.delivery-form-amount-button:disabled {
  background-color: var(--light-gray);
  opacity: 0.3;
  cursor: auto;
}

.delivery-form-amount-button:disabled .delivery-form-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.button-minus {
  top: 2px;
  left: 2px;
}

.button-plus {
  top: 2px;
  right: 2px;
}

.delivery-form-icon {
  margin: auto;
  fill: var(--title-color);
}

.delivery-form-submit {
  width: 200px;
  padding-left: 8px;
}

/* footer */
.footer {
  background-color: var(--text-color);
  color: var(--white);
}

.footer-wrapper {
  min-height: 320px;
  padding-top: 61px;
  padding-bottom: 62px;
}

.footer-logo {
  display: inline-block;
  width: 145px;
  height: 36px;
  margin-bottom: 35px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-info-inner {
  width: 250px;
}

.footer-address {
  width: 250px;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  position: relative;
}

.footer-navigation {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.footer-navigation-item {
  margin-left: 10px;
  margin-right: 20px;
}

.footer-navigation-link {
  display: block;
  padding-top: 5px;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  font-family: var(--second-font), sans-serif;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  transition-property: color, border;
  transition-duration: 0.5s;
  position: relative;
}

.footer-navigation-link:hover {
  color: var(--dark-yellow);
  border-bottom: 2px solid var(--dark-yellow);
}

.footer-navigation-link:active {
  color: var(--dark-yellow);
  opacity: 0.3;
}

.footer-navigation-link:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.footer-phone {
  display: block;
  padding-top: 8px;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: var(--white);
  transition-property: color, opacity;
  transition-duration: 0.5s;
}

.footer-phone:hover {
  color: var(--dark-yellow);
}

.footer-phone:active {
  color: var(--dark-yellow);
  opacity: 0.3;
}

.footer-phone:focus {
  outline: var(--outline-style);
}

.footer-contact {
  display: flex;
  align-items: center;
  margin-top: 50px;
  position: relative;
}

.footer-contact::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--dark-yellow);
}

.footer-social {
  width: 400px;
  margin: 0;
  margin-left: 115px;
  padding: 0 20px;
  padding-right: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 15px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-social-link {
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.footer-social-icon {
  fill: var(--text-color);
}

.footer-social-link:hover {
  background-color: var(--dark-yellow);
}

.footer-social-link:active {
  background-color: var(--dark-yellow);
}

.footer-social-link:active .footer-social-icon {
  opacity: 0.3;
}

.footer-social-link:focus {
  outline: var(--outline-style);
}

.footer-contact-inner {
  width: 123px;
  padding-left: 8px;
}

.footer-dev-link {
  display: block;
  height: 35px;
}

.footer-dev-logo {
  fill: var(--dark-yellow);
  transition-property: opacity;
  transition-duration: 400ms;
}

.footer-dev-link:hover .footer-dev-logo {
  fill: var(--white);
}

.footer-dev-link:active .footer-dev-logo {
  fill: var(--white);
  fill-opacity: 0.3;
}

.footer-dev-link:focus .footer-dev-logo {
  outline: var(--outline-style);
}
